Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: authentication-service-build, social-graph-build, user-feed-build, comments-service-build, skills-service-build

authentication-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd auth-service
  - export PACKAGE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/authentication
  - export IMAGE_TAG=1.3
  script: build MAVEN_CLI_OPTS package
  ...

social-graph-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd social-graph-service
  script: mvn package -B
  artifacts:
    paths:
    - social-graph-service/target/*.jar

user-feed-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd user-feed-service
  script: mvn package -B
  artifacts:
    paths:
    - user-feed-service/target/*.jar
  cache:
    paths:
    - .m2/repository/
    - user-feed-service/target

comments-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd comments-service
  script:
  - echo "Running build job"
  - mvn package -B
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - comments-service/.m2/repository/
  artifacts:
    paths:
    - comments-service/target/*.jar

skills-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd skills-service
  script:
  - mvn package -B
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - skills-service/.m2/repository/
  artifacts:
    paths:
    - skills-service/target/*.jar

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Set CommentNumEvent on reply / delete
  auth-service/src/main/resources/application.properties
  comments-service/src/main/java/ma/ac/inpt/commentservice/service/CommentService.java
  comments-service/src/main/java/ma/ac/inpt/commentservice/service/ReplyService.java
  post-service/src/main/java/ma/ac/inpt/postservice/commentMessaging/PostEventListener.java
  post-service/src/main/java/ma/ac/inpt/postservice/payload/CommentNumEvent.java
  post-service/src/main/java/ma/ac/inpt/postservice/service/PostService.java
  post-service/src/main/resources/application.properties
Due: authentication-service-build, comments-service-build

add k8s objects for deployment
  api-gateway/pom.xml
  api-gateway/src/main/java/ma/ac/inpt/apigateway/ApiGateWayApplication.java
  api-gateway/src/main/resources/application-docker.properties
  api-gateway/src/main/resources/application.properties
  auth-service/pom.xml
  auth-service/src/main/resources/application-docker.properties
  auth-service/src/main/resources/application.properties
  docker-compose.yml
  k8s/api-gateway.yaml
  k8s/auth-service.yaml
  k8s/kafka.yaml
  k8s/neo4j.yaml
  k8s/postgres.yaml
  k8s/social-graph-service.yaml
  k8s/you-scout-secret.yaml
  social-graph-service/pom.xml
  social-graph-service/src/main/resources/application-docker.properties
  social-graph-service/src/main/resources/application.properties
Due: authentication-service-build, social-graph-build

pom update
  pom.xml
Due: none

update pom for jib integration
  api-gateway/pom.xml
  auth-service/pom.xml
  pom.xml
  social-graph-service/pom.xml
Due: authentication-service-build, social-graph-build

update pom for jib integration
  auth-service/pom.xml
Due: authentication-service-build

update version tag
  pom.xml
Due: none

.
  post-service/src/main/java/ma/ac/inpt/postservice/controller/PostController.java
  post-service/src/main/java/ma/ac/inpt/postservice/service/PostService.java
Due: none

.
  auth-service/src/main/resources/application.properties
Due: authentication-service-build

.
  version.txt
Due: none

.
  .idea/compiler.xml
  api-gateway/version.txt
  auth-service/version.txt
  chat-service/version.txt
  comments-service/version.txt
  post-service/version.txt
  service-discovery/version.txt
  skills-service/version.txt
  social-graph-service/version.txt
  user-feed-service/version.txt
  version.txt
Due: authentication-service-build, social-graph-build, user-feed-build, comments-service-build, skills-service-build

.
  pom.xml
Due: none

.
  auth-service/version.txt
  pom.xml
Due: authentication-service-build

update pom for jib integration
  k8s/api-gateway.yaml
  k8s/auth-service.yaml
  k8s/gitlab-registry-secret.yaml
  k8s/postgres.yaml
  k8s/social-graph-service.yaml
Due: none

.
  .gitlab-ci.yml
  .idea/compiler.xml
Due: none

.
  .gitlab-ci.yml
Due: none

update k8s objects
  k8s/gitlab-registry-secret.yaml
Due: none

.
  .gitlab-ci.yml
  pom.xml
Due: none

update k8s objects
  k8s/api-gateway.yaml
  k8s/auth-service.yaml
  k8s/postgres.yaml
  k8s/social-graph-service.yaml
Due: none

update k8s objects
  k8s/postgres.yaml
Due: none

Path conditions:
  authentication-service-build: any of: auth-service/**/*
  social-graph-build: any of: social-graph-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-service-build: any of: comments-service/**/*
  skills-service-build: any of: skills-service/**/*
