Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: authentication-service-build, social-graph-build, post-service-build, user-feed-build, comments-service-build, skills-service-build

Path conditions:
  authentication-service-build: any of: auth-service/**/*
  social-graph-build: any of: social-graph-service/**/*
  post-service-build: any of: post-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-service-build: any of: comments-service/**/*
  skills-service-build: any of: skills-service/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

update k8s manifests
  k8s/comments-service.yaml
  k8s/skills-service.yaml
  k8s/user-feed-service.yaml
Due: none

.
  user-feed-service/version.txt
Due: user-feed-build

update k8s manifests
  comments-service/src/main/resources/application-docker.properties
  k8s/comments-service.yaml
  k8s/kafka.yaml
  k8s/neo4j.yaml
  k8s/post-handling-service.yaml
  k8s/postgres.yaml
  post-service/src/main/resources/application-docker.properties
Due: post-service-build, comments-service-build

update k8s manifests
  comments-service/src/main/resources/application-docker.properties
  k8s/comments-service.yaml
  k8s/mongodb-comments-service.yaml
  k8s/mongodb-post-handling-service.yaml
  k8s/mongodb-skills-service.yaml
  k8s/post-handling-service.yaml
  k8s/skills-service.yaml
  post-service/src/main/resources/application-docker.properties
  skills-service/src/main/resources/application-docker.properties
Due: post-service-build, comments-service-build, skills-service-build

update k8s manifests
  comments-service/src/main/resources/application-docker.properties
  k8s/comments-service.yaml
  k8s/mongodb-comments-service.yaml
Due: comments-service-build

update k8s manifests
  k8s/comments-service.yaml
  k8s/mongodb-comments-service.yaml
  k8s/you-scout-secret.yaml
Due: none

update k8s manifests
  k8s/api-gateway.yaml
  k8s/auth-service.yaml
  k8s/comments-service.yaml
  k8s/mongodb-post-handling-service.yaml
  k8s/mongodb-skills-service.yaml
  k8s/post-handling-service.yaml
  k8s/skills-service.yaml
  k8s/social-graph-service.yaml
  post-service/src/main/resources/application-docker.properties
  skills-service/src/main/resources/application-docker.properties
Due: post-service-build, skills-service-build

update k8s manifests
  k8s/kafka.yaml
Due: none

update file
  k8s/auth-service.yaml
Due: none

Update auth-service.yaml
  k8s/auth-service.yaml
Due: none
