Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: social-graph-build, post-service-build, user-feed-build, comments-service-build, skills-service-build

social-graph-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd social-graph-service
  script: 'mvn compile jib:build \
  
    -Djib.to.auth.username=${CI_REGISTRY_USER} \
  
    -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \
  
    '
  artifacts:
    paths:
    - social-graph-service/target/*.jar

post-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd post-service
  script: mvn package -B
  artifacts:
    paths:
    - post-service/target/*.jar.original

user-feed-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd user-feed-service
  script: mvn package -B
  artifacts:
    paths:
    - user-feed-service/target/*.jar
  cache:
    paths:
    - .m2/repository/
    - user-feed-service/target

comments-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd comments-service
  script:
  - echo "Running build job"
  - mvn package -B
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - comments-service/.m2/repository/
  artifacts:
    paths:
    - comments-service/target/*.jar

skills-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd skills-service
  script:
  - mvn package -B
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - skills-service/.m2/repository/
  artifacts:
    paths:
    - skills-service/target/*.jar

Build docker images for comments service
  .gitlab-ci.yml
  comments-service/src/main/resources/application-docker.properties
Due: comments-service-build

update k8s objects
  k8s/api-gateway.yaml
  k8s/auth-service.yaml
  k8s/registry-crds.yaml
  k8s/social-graph-service.yaml
Due: none

Build docker images for comments service
  comments-service/src/main/resources/application-docker.properties
Due: comments-service-build

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Build docker images for comments service
  .gitlab-ci.yml
  auth-service/src/main/resources/application-docker.properties
  comments-service/src/main/resources/application-docker.properties
  skills-service/src/main/resources/application-docker.properties
Due: comments-service-build, skills-service-build

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Build docker images for comments service
  comments-service/src/main/resources/application-docker.properties
  pom.xml
Due: comments-service-build

Build docker images for comments service
  .gitlab-ci.yml
  skills-service/src/main/resources/application-docker.properties
Due: skills-service-build

Build docker images for skills service
  .gitlab-ci.yml
  skills-service/src/main/resources/application-docker.properties
Due: skills-service-build

Build docker images for posts service
  .gitlab-ci.yml
  post-service/src/main/resources/application-docker.properties
Due: post-service-build

Build docker images for feed service
  .gitlab-ci.yml
  user-feed-service/src/main/resources/application-docker.properties
Due: user-feed-build

Verfiy ocker images
  .gitlab-ci.yml
  comments-service/src/main/resources/application-docker.properties
  skills-service/src/main/resources/application-docker.properties
Due: comments-service-build, skills-service-build

.
  .gitlab-ci.yml
Due: none

Path conditions:
  social-graph-build: any of: social-graph-service/**/*
  post-service-build: any of: post-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-service-build: any of: comments-service/**/*
  skills-service-build: any of: skills-service/**/*
