Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: authentication-service-build, social-graph-build, post-service-build, user-feed-build, comments-service-build, skills-service-build, auth_yaml, comment_yaml, social_graph_yaml, post_yaml, feed_yaml, skill_yaml

authentication-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd auth-service
  - export PACKAGE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/authentication
  - export VERSION=$AUTH_VERSION
  ...

social-graph-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd social-graph-service
  - export VERSION=$GRAPH_VERSION
  script: 'mvn compile jib:build \
  
    -Djib.to.auth.username=${CI_REGISTRY_USER} \
  
    -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \
  
    '
  artifacts:
  ...

post-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd post-service
  - export VERSION=$POST_VERSION
  script: "mvn compile jib:build \\\n  -Djib.to.auth.username=${CI_REGISTRY_USER} \\\n  -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \\\n"
  artifacts:
  ...

user-feed-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd user-feed-service
  - export VERSION=$FEED_VERSION
  script: "mvn compile jib:build \\\n  -Djib.to.auth.username=${CI_REGISTRY_USER} \\\n  -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \\\n"
  artifacts:
  ...

comments-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd comments-service
  - echo "$COMMENT_VERSION"
  - export VERSION="$COMMENT_VERSION"
  script:
  - echo "$COMMENT_VERSION"
  ...

skills-service-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd skills-service
  - export VERSION=$SKILL_VERSION
  script:
  - mvn compile jib:build \ -Djib.to.auth.username=${CI_REGISTRY_USER} \ -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \ -Djib.to.image=${CI_REGISTRY_IMAGE}
  cache:
  ...

auth_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/auth-service:''$AUTH_VERSION''|'' k8s/auth-service1.yaml
  
    DECODED_CONTENT=$(cat k8s/auth-service.yaml)
  
  ...

comment_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/comments-service:''$COMMENT_VERSION''|'' k8s/auth-service1.yaml
  
    DECODED_CONTENT=$(cat k8s/comments-service.yaml)
  
  ...

social_graph_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/social-graph-service:''$GRAPH_VERSION''|'' k8s/auth-service1.yaml
  
    DECODED_CONTENT=$(cat k8s/social-graph-service.yaml)
  
  ...

post_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/post-handling-service:''$POST_VERSION''|'' k8s/auth-service1.yaml
  
    DECODED_CONTENT=$(cat k8s/post-handling-service.yaml)
  
  ...

feed_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/user-feed-service:''$FEED_VERSION''|'' k8s/auth-service1.yaml
  
    DECODED_CONTENT=$(cat k8s/user-feed-service.yaml)
  
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

update k8s manifests
  k8s/user-feed-service.yaml
Due: none

update k8s manifests
  k8s/user-feed-service.yaml
  user-feed-service/pom.xml
  user-feed-service/src/main/java/ma/ac/inpt/feignClient/Graph.java
  user-feed-service/src/main/java/ma/ac/inpt/feignClient/PostClient.java
  user-feed-service/src/main/java/ma/ac/inpt/kafkaMessaging/KafkaConsumerConfig.java
  user-feed-service/src/main/java/ma/ac/inpt/kafkaMessaging/PostEventListener.java
  user-feed-service/src/main/resources/application-docker.properties
  user-feed-service/src/main/resources/application.properties
Due: user-feed-build, feed_yaml

update k8s manifests
  k8s/user-feed-service.yaml
  user-feed-service/src/main/java/ma/ac/inpt/feignClient/Graph.java
  user-feed-service/src/main/java/ma/ac/inpt/feignClient/PostClient.java
  user-feed-service/src/main/resources/application-docker.properties
  user-feed-service/src/main/resources/application.properties
Due: user-feed-build

update comment
  auth-service/src/main/java/ma/ac/inpt/authservice/util/AgeValidator.java
  pom.xml
Due: social-graph-build

update comments service
  comments-service/src/main/java/ma/ac/inpt/commentservice/service/CommentService.java
Due: authentication-service-build, comments-service-build

delete test yaml file
  k8s/auth-service1.yaml
Due: none

update secret yaml file
  k8s/registry-crds.yaml
Due: none

update file
  k8s/comments-service.yaml
Due: none

Update comments-service.yaml
  k8s/comments-service.yaml
Due: none

update test
  auth-service/src/main/java/ma/ac/inpt/authservice/controller/AuthController.java
Due: social-graph-build

update test
  auth-service/src/main/java/ma/ac/inpt/authservice/util/ApplicationBaseUrlRetriever.java
Due: social-graph-build

update test
  auth-service/src/main/java/ma/ac/inpt/authservice/util/ImageValidator.java
Due: social-graph-build

update test
  auth-service/src/main/java/ma/ac/inpt/authservice/util/UserDetailsDtoSerializer.java
Due: social-graph-build

update test
  k8s/post-handling-service.yaml
  post-service/src/main/java/ma/ac/inpt/postservice/commentMessaging/PostEventListener.java
  post-service/src/main/java/ma/ac/inpt/postservice/postMessaging/PostEventSender.java
  post-service/src/main/resources/application-docker.properties
Due: none

update file
  k8s/auth-service.yaml
Due: none

Path conditions:
  authentication-service-build: any of: comments-service/**/*
  social-graph-build: any of: auth-service/**/*
  post-service-build: any of: social-graph-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-service-build: any of: comments-service/**/*
  skills-service-build: any of: skills-service/**/*
  auth_yaml: any of: auth-service/*
  comment_yaml: any of: comments-service/*
  social_graph_yaml: any of: social-graph-service/*
  post_yaml: any of: post-handling-service/*
  feed_yaml: any of: user-feed-service/*
  skill_yaml: any of: skills-service/*
