Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: authentication-service-build, social-graph-build, post-service-build, user-feed-build, comments-service-build, skills-service-build

Path conditions:
  authentication-service-build: any of: auth-service/**/*
  social-graph-build: any of: social-graph-service/**/*
  post-service-build: any of: post-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-service-build: any of: comments-service/**/*
  skills-service-build: any of: skills-service/**/*

update k8s manifests
  k8s/auth-service.yaml
  k8s/you-scout-secret.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

.
  .gitlab-ci.yml
Due: none

update k8s manifests
  auth-service/src/main/java/ma/ac/inpt/authservice/util/ApplicationBaseUrlRetriever.java
Due: authentication-service-build

update k8s manifests
  comments-service/pom.xml
  comments-service/src/main/java/ma/ac/inpt/commentservice/CommentsServiceApplication.java
  comments-service/src/main/resources/application.properties
  k8s/api-gateway.yaml
  k8s/auth-service.yaml
  k8s/cassandra.yaml
  k8s/comments-service.yaml
  k8s/kafka.yaml
  k8s/neo4j.yaml
  k8s/post-handling-service.yaml
  k8s/postgres.yaml
  k8s/skills-service.yaml
  k8s/social-graph-service.yaml
  k8s/user-feed-service.yaml
  k8s/you-scout-secret.yaml
  post-service/pom.xml
  post-service/src/main/java/ma/ac/inpt/postservice/commentMessaging/KafkaConsumerConfig.java
  post-service/src/main/java/ma/ac/inpt/postservice/controller/PostController.java
  post-service/src/main/java/ma/ac/inpt/postservice/exception/ExceptionHandlerController.java
  post-service/src/main/java/ma/ac/inpt/postservice/exception/PostAlreadyCompletedException.java
  post-service/src/main/java/ma/ac/inpt/postservice/model/Post.java
  post-service/src/main/java/ma/ac/inpt/postservice/repository/PostRepo.java
  post-service/src/main/resources/application-docker.properties
  post-service/src/main/resources/application.properties
  skills-service/src/main/resources/application-docker.properties
  skills-service/src/main/resources/application.properties
  user-feed-service/pom.xml
  user-feed-service/src/main/resources/application.properties
Due: post-service-build, user-feed-build, comments-service-build, skills-service-build

update k8s manifests
  k8s/cassandra.yaml
  k8s/user-feed-service.yaml
Due: none

update k8s manifests
  k8s/cassandra.yaml
Due: none

update k8s manifests
  api-gateway/src/main/resources/application-docker.properties
  k8s/api-gateway.yaml
Due: none
