Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: authentication-service-build, social-graph-build, post-service-build, user-feed-build, comments-service-build, skills-service-build

Path conditions:
  authentication-service-build: any of: auth-service/**/*
  social-graph-build: any of: social-graph-service/**/*
  post-service-build: any of: post-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-service-build: any of: comment-service/**/*
  skills-service-build: any of: skills-service/**/*

update k8s manifests
  k8s/cassandra.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update version.txt
  auth-service/version.txt
Due: authentication-service-build

update file
  k8s/auth-service1.yaml
Due: none

update k8s manifests
  k8s/user-feed-service.yaml
  user-feed-service/src/main/resources/application-docker.properties
Due: user-feed-build
