Repository Hamdane-yassine/you-scout: changes, and which GitLab CI jobs are due for each by the changed paths.
All: auth-build, social-graph-build, post-handling-build, user-feed-build, comments-build, skills-build, social_graph_yaml, post_yaml, feed_yaml, comment_yaml, skill_yaml

auth-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd auth-service
  - export PACKAGE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/authentication
  - export VERSION=$AUTH_VERSION
  ...

social-graph-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd social-graph-service
  - export VERSION=$GRAPH_VERSION
  script: 'mvn compile jib:build \
  
    -Djib.to.auth.username=${CI_REGISTRY_USER} \
  
    -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \
  
    '
  cache:
    paths:
    - .m2/repository/
  ...

post-handling-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd post-service
  - export VERSION=$POST_VERSION
  script: "mvn compile jib:build \\\n  -Djib.to.auth.username=${CI_REGISTRY_USER} \\\n  -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \\\n"
  cache:
    paths:
    - .m2/repository/
  artifacts:
  ...

user-feed-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd user-feed-service
  - export VERSION=$FEED_VERSION
  script: "mvn compile jib:build \\\n  -Djib.to.auth.username=${CI_REGISTRY_USER} \\\n  -Djib.to.auth.password=${CI_REGISTRY_PASSWORD} \\\n"
  cache:
    paths:
    - .m2/repository/
  artifacts:
  ...

comments-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd comments-service
  - echo "$COMMENT_VERSION"
  - export VERSION="$COMMENT_VERSION"
  script:
  - echo "$COMMENT_VERSION"
  ...

skills-build:
  image: maven:3.8.4-openjdk-17
  stage: build
  before_script:
  - cd skills-service
  - export VERSION=$SKILL_VERSION
  script:
  - mvn compile jib:build -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD -Djib.to.image=$CONTAINER_RELEASE_IMAGE
  cache:
  ...

social_graph_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/social-graph-service:''$GRAPH_VERSION''|'' k8s/social-graph-service.yaml
  
    DECODED_CONTENT=$(cat k8s/social-graph-service.yaml)
  
  ...

post_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/post-handling-service:''$POST_VERSION''|'' k8s/post-handling-service.yaml
  
    DECODED_CONTENT=$(cat k8s/post-handling-service.yaml)
  
  ...

feed_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/user-feed-service:''$FEED_VERSION''|'' k8s/user-feed-service.yaml
  
    DECODED_CONTENT=$(cat k8s/user-feed-service.yaml)
  
  ...

comment_yaml:
  stage: deploy
  script: 'sed -i ''s|image:.*|image: registry.gitlab.com/hamdane10/you-scout/comments-service:''$COMMENT_VERSION''|'' k8s/comments-service.yaml
  
    DECODED_CONTENT=$(cat k8s/comments-service.yaml)
  
    echo "$DECODED_CONTENT"
  
  ...

update auth k8s manifest
  k8s/you-scout-secret.yaml
Due: none

update auth k8s manifest
  auth-service/src/main/resources/application-docker.properties
  auth-service/src/main/resources/application.properties
  k8s/auth-service.yaml
Due: social-graph-build

update email sending behavior
  .gitlab-ci.yml
  auth-service/src/main/java/ma/ac/inpt/authservice/config/EmailConfiguration.java
Due: social-graph-build

update email sending behavior
  .gitlab-ci.yml
  k8s/auth-service.yaml
Due: none

update email sending behavior
  auth-service/src/main/java/ma/ac/inpt/authservice/service/auth/EmailVerificationServiceImpl.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/email/EmailServiceImpl.java
  k8s/auth-service.yaml
Due: social-graph-build

update email sending behavior
  auth-service/src/main/java/ma/ac/inpt/authservice/service/auth/AbstractTokenService.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/auth/EmailVerificationServiceImpl.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/email/EmailServiceImpl.java
  k8s/auth-service.yaml
Due: social-graph-build

update full ignore case behavior
  auth-service/src/main/java/ma/ac/inpt/authservice/config/ApplicationConfig.java
  auth-service/src/main/java/ma/ac/inpt/authservice/repository/RoleRepository.java
  auth-service/src/main/java/ma/ac/inpt/authservice/repository/UserRepository.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/auth/AuthenticationServiceImpl.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/auth/PasswordResetServiceImpl.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/auth/RegistrationServiceImpl.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/role/RoleServiceImpl.java
  auth-service/src/main/java/ma/ac/inpt/authservice/service/user/UserServiceImpl.java
  auth-service/src/test/java/ma/ac/inpt/authservice/repository/RoleRepositoryTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/repository/UserRepositoryTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/service/auth/AuthenticationServiceTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/service/auth/PasswordResetServiceTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/service/auth/RegistrationServiceTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/service/role/RoleServiceTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/service/user/UserServiceTest.java
  auth-service/src/test/java/ma/ac/inpt/authservice/util/ApplicationBaseUrlRetrieverTest.java
  auth-service/version.txt
  k8s/auth-service.yaml
Due: social-graph-build

update full ignore case behavior
  auth-service/src/main/java/ma/ac/inpt/authservice/repository/UserRepository.java
  k8s/auth-service.yaml
Due: social-graph-build

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add new file
  auth-service/.gitlab-ci.yaml
Due: social-graph-build

Update .gitlab-ci.yaml
  auth-service/.gitlab-ci.yaml
  auth-service/.gitlab-ci.yml
Due: social-graph-build

Update .gitlab-ci.yml
  auth-service/.gitlab-ci.yml
Due: social-graph-build

Add new file
  comments-service/.gitlab-ci.yml
Due: auth-build, comments-build, comment_yaml

Update .gitlab-ci.yml
  comments-service/.gitlab-ci.yml
Due: auth-build, comments-build, comment_yaml

Add new file
  post-service/.gitlab-ci.yml
Due: post-handling-build, post_yaml

Update .gitlab-ci.yml
  post-service/.gitlab-ci.yml
Due: post-handling-build, post_yaml

Add new file
  skills-service/.gitlab-ci.yml
Due: skills-build, skill_yaml

Update .gitlab-ci.yml
  skills-service/.gitlab-ci.yml
Due: skills-build, skill_yaml

Add new file
  social-graph-service/.gitlab-ci.yml
Due: social_graph_yaml

Add new file
  user-feed-service/.gitlab-ci.yml
Due: user-feed-build, feed_yaml

Update .gitlab-ci.yml
  user-feed-service/.gitlab-ci.yml
Due: user-feed-build, feed_yaml

Update .gitlab-ci.yml
  social-graph-service/.gitlab-ci.yml
Due: social_graph_yaml

Upload doc images
  argo.png
  gen-archi.png
Due: none

Path conditions:
  auth-build: any of: comments-service/**/*
  social-graph-build: any of: auth-service/**/*
  post-handling-build: any of: post-service/**/*
  user-feed-build: any of: user-feed-service/**/*
  comments-build: any of: comments-service/**/*
  skills-build: any of: skills-service/**/*
  social_graph_yaml: any of: social-graph-service/**/*
  post_yaml: any of: post-service/**/*
  feed_yaml: any of: user-feed-service/**/*
  comment_yaml: any of: comments-service/**/*
  skill_yaml: any of: skills-service/**/*
